doctype html
html(lang="en")
  head
    title Optimization Node SDK Implementation E2E Test

    style.
      html,
      textarea,
      input,
      button {
        font-family:
          -apple-system,
          BlinkMacSystemFont,
          avenir next,
          avenir,
          segoe ui,
          helvetica neue,
          Adwaita Sans,
          Cantarell,
          Ubuntu,
          roboto,
          noto,
          helvetica,
          arial,
          sans-serif;
      }
      h1,
      main {
        display: grid;
        grid-gap: 2rem;
        grid-template-rows: auto 1fr;
        max-width: 1040px;
        margin-inline: auto;
      }
      ol {
        margin: 0;
      }
      summary {
        cursor: pointer;
      }
      a {
        color: inherit;

        &:hover,
        &:active {
          color: blue;
        }
      }
      #entries > div {
        display: grid;
        grid-gap: 2rem;
        grid-auto-rows: 75dvh;
        justify-items: center;
        align-items: center;
        margin-block-end: 2rem;

        > div {
          display: grid;
          width: 100%;
          height: 100%;
          justify-items: center;
          align-items: center;
          background: #eee;
        }
      }

  body
    h1 Optimization Node SDK Implementation E2E Test

    main
      section
        h2 States

        p
          - if (profile.traits.identified === true)
            span Identified
          - else
            a(href=`/?userId=charles`) Identify

      section#entries
        h2 Entries

        div
          - const entry1 = entries.get('1MwiFl4z7gkwqGYdvCmr8c')
          div(
            data-ctfl-entry-id=entry1.entry.sys.id
            data-ctfl-personalization-id=(entry1.personalization || {}).experienceId
            data-ctfl-sticky=(entry1.personalization || {}).sticky
            data-ctfl-variant-index=(entry1.personalization || {}).variantIndex
          )
            != entry1.entry.fields.text

          - const entry2 = entries.get('4ib0hsHWoSOnCVdDkizE8d')
          div(
            data-ctfl-entry-id=entry2.entry.sys.id
            data-ctfl-personalization-id=(entry2.personalization || {}).experienceId
            data-ctfl-sticky=(entry2.personalization || {}).sticky
            data-ctfl-variant-index=(entry2.personalization || {}).variantIndex
          )
            p= entry2.entry.fields.text

          - const entry3 = entries.get('xFwgG3oNaOcjzWiGe4vXo')
          div(
            data-ctfl-entry-id=entry3.entry.sys.id
            data-ctfl-personalization-id=(entry3.personalization || {}).experienceId
            data-ctfl-sticky=(entry3.personalization || {}).sticky
            data-ctfl-variant-index=(entry3.personalization || {}).variantIndex
          )
            p= entry3.entry.fields.text

          - const entry4 = entries.get('2Z2WLOx07InSewC3LUB3eX')
          div(
            data-ctfl-entry-id=entry4.entry.sys.id
            data-ctfl-personalization-id=(entry4.personalization || {}).experienceId
            data-ctfl-sticky=(entry4.personalization || {}).sticky
            data-ctfl-variant-index=(entry4.personalization || {}).variantIndex
          )
            p= entry4.entry.fields.text

          - const entry5 = entries.get('5XHssysWUDECHzKLzoIsg1')
          div(
            data-ctfl-entry-id=entry5.entry.sys.id
            data-ctfl-personalization-id=(entry5.personalization || {}).experienceId
            data-ctfl-sticky=(entry5.personalization || {}).sticky
            data-ctfl-variant-index=(entry5.personalization || {}).variantIndex
          )
            p= entry5.entry.fields.text

          - const entry6 = entries.get('6zqoWXyiSrf0ja7I2WGtYj')
          div(
            data-ctfl-entry-id=entry6.entry.sys.id
            data-ctfl-personalization-id=(entry6.personalization || {}).experienceId
            data-ctfl-sticky=(entry6.personalization || {}).sticky
            data-ctfl-variant-index=(entry6.personalization || {}).variantIndex
          )
            p= entry6.entry.fields.text

          - const entry7 = entries.get('7pa5bOx8Z9NmNcr7mISvD')
          div(
            data-ctfl-entry-id=entry7.entry.sys.id
            data-ctfl-personalization-id=(entry7.personalization || {}).experienceId
            data-ctfl-sticky=(entry7.personalization || {}).sticky
            data-ctfl-variant-index=(entry7.personalization || {}).variantIndex
          )
            p= entry7.entry.fields.text
